Hello there
<div>
  <% PaymentIcon.credit_cards.each do |card| %>
    <%= image_tag card.path, id: "#{card.name}" %>
  <% end %>
</div>

<div>
  <% PaymentIcon.cryptocurrencies.each do |currency| %>
    <%= image_tag currency.path, id: "#{currency.name}" %>
  <% end %>
</div>
