name: CI

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

jobs:
  build:
    name: Ruby ${{ matrix.version }} ${{ matrix.gemfile }}
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    strategy:
      matrix:
        version:
          - 3.3
          - 3.4
        gemfile:
          - gemfiles/rails-7-2.gemfile
          - gemfiles/rails-latest-release.gemfile
          - gemfiles/rails-edge.gemfile
    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby ${{ matrix.version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.version }}
          bundler-cache: true
          rubygems: latest

      - name: Test
        run: bundle exec rake test

